{
  "openapi": "3.1.0",
  "info": {
    "title": "STQRY Public API",
    "description": "API documentation for STQRY's public API",
    "contact": {
      "name": "API Support",
      "url": "https://support.stqry.com",
      "email": "support@stqry.com"
    },
    "license": {
      "name": "Copyright OnCell Systems, Inc.",
      "url": "https://stqry.com/terms-conditions/"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-us.stqry.com/",
      "description": "US Server"
    },
    {
      "url": "https://api-ca.stqry.com/",
      "description": "Canadian Server"
    },
    {
      "url": "https://api-eu.stqry.com/",
      "description": "European Server"
    },
    {
      "url": "https://api-au.stqry.com/",
      "description": "Australian Server"
    },
    {
      "url": "https://api-sg.stqry.com",
      "description": "Singapore Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Codes"
    },
    {
      "name": "CollectionItems"
    },
    {
      "name": "Collections"
    },
    {
      "name": "MediaItems"
    },
    {
      "name": "Projects"
    },
    {
      "name": "Screens"
    },
    {
      "name": "StorySectionBadgeItems"
    },
    {
      "name": "StorySectionLinkItems"
    },
    {
      "name": "StorySectionMediaItems"
    },
    {
      "name": "StorySectionOpeningTimeItems"
    },
    {
      "name": "StorySectionPriceItems"
    },
    {
      "name": "StorySectionSocialItems"
    },
    {
      "name": "StorySections"
    },
    {
      "name": "UploadedFiles"
    },
    {
      "name": "stqry"
    }
  ],
  "paths": {
    "/api/public/codes": {
      "get": {
        "summary": "Returns a list of codes for an account",
        "operationId": "CodesIndex",
        "tags": [
          "Codes"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 1000,
              "description": "Number of items per page, max 1000"
            },
            "description": "Number of items per page, max 1000"
          },
          {
            "name": "sort_field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "coupon_code",
                "valid_from",
                "valid_to",
                "redemptions",
                "id"
              ],
              "description": "Field to sort by"
            },
            "description": "Field to sort by"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ],
              "description": "Direction to sort by"
            },
            "description": "Direction to sort by"
          },
          {
            "name": "include_archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include archived codes"
            },
            "description": "Include archived codes"
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma separated list of tags. Tags are ANDed"
            },
            "description": "Comma separated list of tags. Tags are ANDed"
          },
          {
            "name": "valid_now",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Currently valid codes"
            },
            "description": "Currently valid codes"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Search query"
            },
            "description": "Search query"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CodesIndexResponse",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "codes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Code"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Creates a new code",
        "operationId": "CodesCreate",
        "tags": [
          "Codes"
        ],
        "requestBody": {
          "required": true,
          "description": "Code",
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateCodeBody",
                "$ref": "#/components/schemas/CreateCodeInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CodesCreateResponse",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/Code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/codes/{id}": {
      "get": {
        "summary": "Returns a single code",
        "operationId": "CodesShow",
        "tags": [
          "Codes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the Code to retrieve"
            },
            "description": "ID of the Code to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CodesShowResponse",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/Code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Updates an existing code",
        "operationId": "CodesUpdate",
        "tags": [
          "Codes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the Code to retrieve"
            },
            "description": "ID of the Code to retrieve"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Code",
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateCodeBody",
                "$ref": "#/components/schemas/UpdateCodeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CodesUpdateResponse",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/Code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Updates an existing code",
        "operationId": "CodesUpdate",
        "tags": [
          "Codes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the Code to retrieve"
            },
            "description": "ID of the Code to retrieve"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Code",
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateCodeBody",
                "$ref": "#/components/schemas/UpdateCodeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CodesUpdateResponse",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/Code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes an existing code",
        "operationId": "CodesDestroy",
        "tags": [
          "Codes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the Code to delete"
            },
            "description": "ID of the Code to delete"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/collections": {
      "get": {
        "summary": "Returns a list of collections for an account",
        "operationId": "CollectionsIndex",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 1000,
              "description": "Number of items per page, max 1000"
            },
            "description": "Number of items per page, max 1000"
          },
          {
            "name": "sort_field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name",
                "created_at",
                "updated_at"
              ],
              "description": "Field to sort by"
            },
            "description": "Field to sort by"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ],
              "description": "Direction to sort by"
            },
            "description": "Direction to sort by"
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma separated list of tags. Tags are ANDed"
            },
            "description": "Comma separated list of tags. Tags are ANDed"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Search query"
            },
            "description": "Search query"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CollectionsIndexResponse",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "collections": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Collection"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Creates a new collection",
        "operationId": "CollectionsCreate",
        "tags": [
          "Collections"
        ],
        "requestBody": {
          "required": true,
          "description": "Collection",
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateCollectionBody",
                "$ref": "#/components/schemas/Collection"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CollectionsCreateResponse",
                  "properties": {
                    "collection": {
                      "$ref": "#/components/schemas/Collection"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/collections/{collection_id}/collection_items": {
      "get": {
        "summary": "Returns a list of collection items for a collection",
        "operationId": "CollectionItemsIndex",
        "tags": [
          "CollectionItems"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the parent Collection"
            },
            "description": "ID of the parent Collection"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 1000,
              "description": "Number of items per page, max 1000"
            },
            "description": "Number of items per page, max 1000"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CollectionItemsIndexResponse",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "collection_items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CollectionItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Creates a new collection item",
        "operationId": "CollectionItemsCreate",
        "tags": [
          "CollectionItems"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the parent Collection"
            },
            "description": "ID of the parent Collection"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "CollectionItem",
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateCollectionItemBody",
                "$ref": "#/components/schemas/CollectionItemInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CollectionItemsCreateResponse",
                  "properties": {
                    "collection_item": {
                      "$ref": "#/components/schemas/CollectionItem"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/collections/{collection_id}/collection_items/update_positions": {
      "post": {
        "summary": "Updates the positions of collection items within a collection",
        "operationId": "CollectionItemsUpdatePositions",
        "tags": [
          "CollectionItems"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the parent Collection"
            },
            "description": "ID of the parent Collection"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Positions to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "UpdateCollectionItemPositionsBody",
                "properties": {
                  "positions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "ID of the CollectionItem"
                        },
                        "position": {
                          "type": "integer",
                          "description": "New position value"
                        }
                      },
                      "required": [
                        "id",
                        "position"
                      ]
                    },
                    "description": "Array of collection item position updates"
                  }
                },
                "required": [
                  "positions"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/collections/{collection_id}/collection_items/{id}": {
      "get": {
        "summary": "Returns a single collection item",
        "operationId": "CollectionItemsShow",
        "tags": [
          "CollectionItems"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the parent Collection"
            },
            "description": "ID of the parent Collection"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the CollectionItem to retrieve"
            },
            "description": "ID of the CollectionItem to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CollectionItemsShowResponse",
                  "properties": {
                    "collection_item": {
                      "$ref": "#/components/schemas/CollectionItem"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Updates an existing collection item",
        "operationId": "CollectionItemsUpdate",
        "tags": [
          "CollectionItems"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the parent Collection"
            },
            "description": "ID of the parent Collection"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the CollectionItem to update"
            },
            "description": "ID of the CollectionItem to update"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "CollectionItem",
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateCollectionItemBody",
                "$ref": "#/components/schemas/CollectionItemInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CollectionItemsUpdateResponse",
                  "properties": {
                    "collection_item": {
                      "$ref": "#/components/schemas/CollectionItem"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Updates an existing collection item",
        "operationId": "CollectionItemsUpdate",
        "tags": [
          "CollectionItems"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the parent Collection"
            },
            "description": "ID of the parent Collection"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the CollectionItem to update"
            },
            "description": "ID of the CollectionItem to update"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "CollectionItem",
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateCollectionItemBody",
                "$ref": "#/components/schemas/CollectionItemInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CollectionItemsUpdateResponse",
                  "properties": {
                    "collection_item": {
                      "$ref": "#/components/schemas/CollectionItem"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes an existing collection item",
        "operationId": "CollectionItemsDestroy",
        "tags": [
          "CollectionItems"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the parent Collection"
            },
            "description": "ID of the parent Collection"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the CollectionItem to delete"
            },
            "description": "ID of the CollectionItem to delete"
          }
        ],
        "responses": {
          "204": {
            "description": "success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/collections/{id}": {
      "get": {
        "summary": "Returns a single collection",
        "operationId": "CollectionsShow",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the Collection to retrieve"
            },
            "description": "ID of the Collection to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CollectionsShowResponse",
                  "properties": {
                    "collection": {
                      "$ref": "#/components/schemas/Collection"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Updates an existing collection",
        "operationId": "CollectionsUpdate",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the Collection to update"
            },
            "description": "ID of the Collection to update"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Collection",
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateCollectionBody",
                "$ref": "#/components/schemas/Collection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CollectionsUpdateResponse",
                  "properties": {
                    "collection": {
                      "$ref": "#/components/schemas/Collection"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Updates an existing collection",
        "operationId": "CollectionsUpdate",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the Collection to update"
            },
            "description": "ID of the Collection to update"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Collection",
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateCollectionBody",
                "$ref": "#/components/schemas/Collection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CollectionsUpdateResponse",
                  "properties": {
                    "collection": {
                      "$ref": "#/components/schemas/Collection"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes an existing collection",
        "operationId": "CollectionsDestroy",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the Collection to delete"
            },
            "description": "ID of the Collection to delete"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language locale to delete (deletes only that translation instead of the whole collection)"
            },
            "description": "Language locale to delete (deletes only that translation instead of the whole collection)"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "CollectionsDestroyTranslationResponse",
                  "properties": {
                    "collection": {
                      "$ref": "#/components/schemas/Collection"
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/media_items": {
      "get": {
        "summary": "Returns a list of media_items for an account",
        "operationId": "MediaItemsIndex",
        "tags": [
          "MediaItems"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 1000,
              "description": "Number of items per page, max 1000"
            },
            "description": "Number of items per page, max 1000"
          },
          {
            "name": "sort_field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name",
                "created_at",
                "updated_at"
              ],
              "description": "Field to sort by"
            },
            "description": "Field to sort by"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ],
              "description": "Direction to sort by"
            },
            "description": "Direction to sort by"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Search query"
            },
            "description": "Search query"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "MediaItemsIndexResponse",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "media_items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MediaItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Creates a new media item",
        "operationId": "MediaItemsCreate",
        "tags": [
          "MediaItems"
        ],
        "requestBody": {
          "required": true,
          "description": "MediaItem",
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateMediaItemBody",
                "$ref": "#/components/schemas/MediaItem"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "MediaItemsCreateResponse",
                  "properties": {
                    "media_item": {
                      "$ref": "#/components/schemas/MediaItem"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/media_items/{id}": {
      "get": {
        "summary": "Returns a single media_item",
        "operationId": "MediaItemsShow",
        "tags": [
          "MediaItems"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the MediaItem to retrieve"
            },
            "description": "ID of the MediaItem to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "MediaItemsShowResponse",
                  "properties": {
                    "media_item": {
                      "$ref": "#/components/schemas/MediaItem"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Updates an existing media item",
        "operationId": "MediaItemsUpdate",
        "tags": [
          "MediaItems"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the MediaItem to update"
            },
            "description": "ID of the MediaItem to update"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "MediaItem",
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateMediaItemBody",
                "$ref": "#/components/schemas/MediaItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "MediaItemsUpdateResponse",
                  "properties": {
                    "media_item": {
                      "$ref": "#/components/schemas/MediaItem"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Updates an existing media item",
        "operationId": "MediaItemsUpdate",
        "tags": [
          "MediaItems"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the MediaItem to update"
            },
            "description": "ID of the MediaItem to update"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "MediaItem",
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateMediaItemBody",
                "$ref": "#/components/schemas/MediaItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "MediaItemsUpdateResponse",
                  "properties": {
                    "media_item": {
                      "$ref": "#/components/schemas/MediaItem"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes an existing media item",
        "operationId": "MediaItemsDestroy",
        "tags": [
          "MediaItems"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the MediaItem to delete"
            },
            "description": "ID of the MediaItem to delete"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language locale to delete (deletes only that translation instead of the whole media item)"
            },
            "description": "Language locale to delete (deletes only that translation instead of the whole media item)"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "MediaItemsDestroyTranslationResponse",
                  "properties": {
                    "media_item": {
                      "$ref": "#/components/schemas/MediaItem"
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/projects": {
      "get": {
        "summary": "Returns a list of projects for an account",
        "operationId": "ProjectsIndex",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 1000,
              "description": "Number of items per page, max 1000"
            },
            "description": "Number of items per page, max 1000"
          },
          {
            "name": "sort_field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name",
                "created_at",
                "updated_at"
              ],
              "description": "Field to sort by"
            },
            "description": "Field to sort by"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ],
              "description": "Direction to sort by"
            },
            "description": "Direction to sort by"
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma separated list of tags. Tags are ANDed"
            },
            "description": "Comma separated list of tags. Tags are ANDed"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Search query"
            },
            "description": "Search query"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ProjectsIndexResponse",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/projects/{id}": {
      "get": {
        "summary": "Returns a single project",
        "operationId": "ProjectsShow",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the Project to retrieve"
            },
            "description": "ID of the Project to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ProjectsShowResponse",
                  "properties": {
                    "project": {
                      "$ref": "#/components/schemas/Project"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/screens": {
      "get": {
        "summary": "Returns a list of screens for an account",
        "operationId": "ScreensIndex",
        "tags": [
          "Screens"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 1000,
              "description": "Number of items per page, max 1000"
            },
            "description": "Number of items per page, max 1000"
          },
          {
            "name": "sort_field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name",
                "created_at",
                "updated_at"
              ],
              "description": "Field to sort by"
            },
            "description": "Field to sort by"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ],
              "description": "Direction to sort by"
            },
            "description": "Direction to sort by"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Search query"
            },
            "description": "Search query"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ScreensIndexResponse",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "screens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Screen"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Creates a new screen",
        "operationId": "ScreensCreate",
        "tags": [
          "Screens"
        ],
        "requestBody": {
          "required": true,
          "description": "Screen",
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateScreenBody",
                "$ref": "#/components/schemas/Screen"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ScreensCreateResponse",
                  "properties": {
                    "screen": {
                      "$ref": "#/components/schemas/Screen"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/screens/{id}": {
      "get": {
        "summary": "Returns a single screen",
        "operationId": "ScreensShow",
        "tags": [
          "Screens"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the Screen to retrieve"
            },
            "description": "ID of the Screen to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ScreensShowResponse",
                  "properties": {
                    "screen": {
                      "$ref": "#/components/schemas/ScreenDetail"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Updates an existing screen",
        "operationId": "ScreensUpdate",
        "tags": [
          "Screens"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the Screen to update"
            },
            "description": "ID of the Screen to update"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Screen",
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateScreenBody",
                "$ref": "#/components/schemas/Screen"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ScreensUpdateResponse",
                  "properties": {
                    "screen": {
                      "$ref": "#/components/schemas/Screen"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Updates an existing screen",
        "operationId": "ScreensUpdate",
        "tags": [
          "Screens"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the Screen to update"
            },
            "description": "ID of the Screen to update"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Screen",
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateScreenBody",
                "$ref": "#/components/schemas/Screen"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ScreensUpdateResponse",
                  "properties": {
                    "screen": {
                      "$ref": "#/components/schemas/Screen"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes an existing screen",
        "operationId": "ScreensDestroy",
        "tags": [
          "Screens"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the Screen to delete"
            },
            "description": "ID of the Screen to delete"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language locale to delete (deletes only that translation instead of the whole screen)"
            },
            "description": "Language locale to delete (deletes only that translation instead of the whole screen)"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ScreensDestroyTranslationResponse",
                  "properties": {
                    "screen": {
                      "$ref": "#/components/schemas/Screen"
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/screens/{screen_id}/story_sections": {
      "get": {
        "summary": "Returns a list of story sections for a screen",
        "operationId": "StorySectionsIndex",
        "tags": [
          "StorySections"
        ],
        "parameters": [
          {
            "name": "screen_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the parent Screen"
            },
            "description": "ID of the parent Screen"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 1000,
              "description": "Number of items per page, max 1000"
            },
            "description": "Number of items per page, max 1000"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "StorySectionsIndexResponse",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "story_sections": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StorySection"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BadRequestResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnauthorizedResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "NotFoundResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableContentResponse",
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Creates a new story section",
        "operationId": "StorySectionsCreate",
        "tags": [
          "StorySections"
        ],
        "parameters": [
          {
            "name": "screen_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "ID of the parent Screen"
            },
            "description": "ID of the parent Screen"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "StorySection",
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateStorySectionBody",
                "$ref": "#/components/schemas/StorySection"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "StorySectionsCreateResponse",
                  "properties": {
                    "story_section": {
                      "$ref": "#/components/schemas/StorySection"
                    }
                  }
                }
              }
            }
          },
[...]
